@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 358 100% 100%;
    --foreground: 358 5% 10%;
    --card: 358 50% 100%;
    --card-foreground: 358 5% 15%;
    --popover: 358 100% 100%;
    --popover-foreground: 358 100% 10%;
    --primary: 358 85.8% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 358 40% 96%;
    --muted-foreground: 358 5% 20%;
    --accent: 358 80% 90%;
    --accent-foreground: 358 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 358 5% 100%;
    --border: 358 30% 82%;
    --input: 358 30% 70%;
    --ring: 358 85.8% 50.4%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 358 50% 3%;
    --foreground: 358 5% 90%;
    --card: 358 50% 4%;
    --card-foreground: 358 5% 90%;
    --popover: 358 50% 5%;
    --popover-foreground: 358 5% 90%;
    --primary: 358 85.8% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 358 30% 15%;
    --muted-foreground: 358 5% 70%;
    --accent: 358 60% 15%;
    --accent-foreground: 358 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 358 5% 90%;
    --border: 358 30% 18%;
    --input: 358 30% 18%;
    --ring: 358 85.8% 50.4%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
