@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 358 100% 100%;
    --foreground: 358 5% 10%;
    --card: 358 0% 100%;
    --card-foreground: 358 5% 15%;
    --popover: 358 100% 100%;
    --popover-foreground: 358 100% 10%;
    --primary: 358 65.8% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 255 11% 97%;
    --muted-foreground: 358 5% 20%;
    --accent: 358 80% 90%;
    --accent-foreground: 358 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 358 5% 100%;
    --border: 255 9% 80%;
    --input: 358 30% 70%;
    --ring: 358 85.8% 50.4%;
    --radius: 0.75rem;
    --sidebar-background: 358 0% 100%;
    --sidebar-foreground: 225 11% 40%;
    --sidebar-primary: 358 85.8% 50.4%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 358 89% 94%;
    --sidebar-accent-foreground: 358 5% 15%;
    --sidebar-border: 358 70% 86%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 255 50% 3%;
    --foreground: 358 5% 90%;
    --card: 358 00% 10%;
    --card-foreground: 358 5% 90%;
    --popover: 255 5.9% 10%;
    --popover-foreground: 358 5% 90%;
    --primary: 358 65.8% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 255 010% 5%;
    --muted-foreground: 358 5% 70%;
    --accent: 255 3.7% 15.9%;
    --accent-foreground: 255 4.8% 95.9%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 358 5% 90%;
    --border: 255 9% 18%;
    --input: 358 30% 18%;
    --ring: 358 85.8% 50.4%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 255 5.9% 10%;
    --sidebar-foreground: 255 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 255 3.7% 15.9%;
    --sidebar-accent-foreground: 255 4.8% 95.9%;
    --sidebar-border: 255 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
